@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#app {
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

i {
  position: relative;
  right: 20px;
}

.student {
  width: 31.25em;
  height: min-content;
  border: 1px solid grey;
  margin-bottom: 20px;
  border-radius: 10px;
  font-weight: bold;
}
.name {
  color: goldenrod;
}
.age {
  color: steelblue;
}
.course {
  color: maroon;
}

#search {
  padding: 1em;
  font-family: inherit;
  width: 200px;
  margin-bottom: 20px;
}

.err {
  color: red;
  font-size: 1.3rem;
}
